.page{
  width: 940px;
  margin: 0 auto;
  background: #ffffee;
  overflow: hidden;
  position: relative;
}

.links{
  font-size: 30px;
  padding: 5px;
}

#user_login_box{
  position: absolute;
  right: 20px;
  top:10px;
}